aiogram~=2.9.2
aiohttp~=3.6.2
aiohttp_socks
async-timeout
attrs
Babel
certifi
chardet
click
future
idna
multidict
pefile
random_user_agent
phonenumbers~=8.12.8
psutil~=5.7.2
psycopg2-binary
pytz~=2020.1
requests~=2.7.0
simplejson
si
spark-parser
speedtest-cli
urllib3
xdis
yarl
requests[socks]
aiohttp_proxy
telebot~=0.0.3
pytelegrambotapi
bs4~=0.0.1
beautifulsoup4~=4.9.1
psycopg2~=2.8.5